.main-newMember {
  display: flex;
  justify-content: center;
  max-width: calc(1440px * 60 / 100);
}

.form-newMember {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
  /*box-shadow: 0 8px 16px #bdbdbd;*/
  box-shadow: 0 8px 16px #4688d333, 0 16px 32px #4688d311;
  padding: 2rem 4rem;
}

.form-newMember div {
  display: flex;
  flex-direction: column;
}

label.defaultSpacing {
  margin-top: 1.5rem;
}

.form-newMember input[type="submit"] {
  align-self: center;
  width: 100%;
}
