.newPaiement-Form {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  flex-wrap: wrap;
  width: 920px;
  box-shadow: 0 8px 16px #bdbdbd;
  padding: 2rem;
}

label.defaultSpacing {
  margin-top: 1.5rem;
}

.newPaiement-Form .trioletContainer {
  display: flex;
  column-gap: 3rem;
  width: 100%;
}

.newPaiement-Form .triolet {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}
