.newPaiement-Form {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  flex-wrap: wrap;
  width: 920px;
  box-shadow: 0 8px 16px #4688d333, 0 16px 32px #4688d311;
  padding: 2rem;
}

label.defaultSpacing,
.trioletContainer.defaultSpacing {
  margin-top: 1.5rem;
}

.newPaiement-Form .trioletContainer {
  display: flex;
  column-gap: 3rem;
  width: 100%;
}

.newPaiement-Form .triolet {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}

.newPaiement-Form textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  border: 1px solid #4688d344;
  background: #ffffff;
  padding: 0.35em 0.4em 0.4em 0.4em;
  color: #264f81bb;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  margin-top: 0.325rem;
}

.newPaiement-Form input[type="submit"] {
  align-self: center;
  justify-self: center;
  width: 100%;
}
