main.main-refund {
  display: flex;
  justify-content: center;
  max-width: calc(1440px * 60 / 100);
}

form.form-refund {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.soloRow {
  display: flex;
  flex-direction: column;
}

.duoRow {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}
