main.main-refund {
  display: flex;
  margin: 0 auto;
  max-width: calc(1440px * 60 / 100);
}

form.form-refund {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form.form-refund .soloRow {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

form.form-refund .duoRow {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  width: 100%;
}
