main.main-rib {
  display: flex;
  margin: 0 auto;
  max-width: calc(1440px * 60 / 100);
}

form.form-rib {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 8px 16px #4688d333, 0 16px 32px #4688d311;
  padding: 2rem 4rem;
}

form.form-rib .soloRow {
  display: flex;
  flex-direction: column;
}

form.form-rib .duoRow {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}
