main.main-newRemainder {
  display: flex;
  margin: 0 auto;
  max-width: calc(1440px * 60 / 100);
}

form.form-newRemainder {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  flex-wrap: wrap;
  width: 920px;
  box-shadow: 0 8px 16px #bdbdbd;
  padding: 2rem;
}

.form-newRemainder div {
  display: flex;
  flex-direction: column;
}

label.defaultSpacing {
  margin-top: 1.5rem;
}

.form-newRemainder textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  padding: 0.35em 0.4em 0.4em 0.4em;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  margin-top: 0.325rem;
}

.form-newRemainder input[type="submit"] {
  align-self: center;
  justify-self: center;
}
