main.main-newRemainder {
  display: flex;
  margin: 0 auto;
  max-width: calc(1440px * 60 / 100);
}

form.form-newRemainder {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 8px 16px #4688d333, 0 16px 32px #4688d311;
  padding: 2rem 4rem;
}

form.form-newRemainder .soloRow {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

form.form-newRemainder .duoRow {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  width: 100%;
}

.defaultSpacing {
  margin-top: 1.5rem;
}

.form-newRemainder textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  padding: 0.35em 0.4em 0.4em 0.4em;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  margin-top: 0.325rem;
}

.form-newRemainder input[type="submit"] {
  align-self: center;
  justify-self: center;
  width: 100%;
}
