main.main-subscription {
  display: flex;
  margin: 0 auto;
  max-width: calc(1440px * 60 / 100);
}

form.form-subscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 8px 16px #4688d333, 0 16px 32px #4688d311;
  padding: 2rem 4rem;
}

form.form-subscription .soloRow {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

form.form-subscription .duoRow {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  width: 100%;
}

.defaultSpacing {
  margin-top: 1.5rem;
}
