#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
}

a {
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 360px;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}

form input[type="text"],
form input[type="number"] {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  padding: 0.35em 0.4em 0.4em 0.4em;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin-top: 0.325rem;
}

form input[type="submit"] {
  margin-top: 2rem;
  /*height: 32px;*/
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  padding: 0.4em 0.4em 0.35em 0.4em;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  border: 1px solid #979797;
}

label.defaultSpacing {
  margin-top: 1.5rem;
}

form input:focus {
  outline: 1px solid #213547;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
