#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  color: #264f81bb;
}

a {
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  color: #ffffffff;
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  /*background: linear-gradient(to bottom, #f3faff 0%, #d8ebf8cc 100%);*/
  background: linear-gradient(to bottom, #f3faff 0%, #e1f3ff 100%);
  border: 2px solid #ffffffdd;
}

form input[type="text"],
form input[type="number"] {
  /*border: 1px solid #c5c5c5;*/
  border: 1px solid #4688d344;
  background: #ffffff;
  padding: 0.35em 0.4em 0.4em 0.4em;
  color: #264f81bb;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin-top: 0.325rem;
}

form input[type="submit"] {
  margin-top: 2rem;
  /*height: 32px;*/
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  padding: 0.4em 0.4em 0.35em 0.4em;
  /*background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);*/
  background: linear-gradient(to bottom, #4a98f1 0%, #4688d3cc 100%);
  /*border: 1px solid #979797;*/
  border: 1px solid #57a5ff;
  box-shadow: 0 8px 16px #4688d366, 0 16px 32px #4688d333;
  color: #ffffff;
  cursor: pointer;
  /*font-weight: 600;*/
  letter-spacing: 0.025rem;
}

form input[type="submit"]:hover {
  background: #62abff;
  /*color: #4a98f1;*/
  /*font-weight: 600;*/
  /*border: 1px solid #ffffffff;*/
}

label {
  letter-spacing: 0.025rem;
}

label.defaultSpacing {
  margin-top: 1.5rem;
}

form input:focus,
textarea:focus {
  outline: 1px solid #4a98f1;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

textarea {
  resize: none;
  border: 1px solid #4688d344;
  background: #ffffff;
  padding: 0.35em 0.4em 0.4em 0.4em;
  color: #264f81bb;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}
